


@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body>
    <form>
        <div class="container">
            <p>Projeto desenvolvido como requisito para obtenção de nota parcial na disciplina de CSharp sob orientação do professor Douglas Barcelos</ br>Desenvolvimento Gabryel Johnatan Boeira</p>
            <h3>Objetivo do Projeto</h3>
            <ul>
                <li>CRUD com dados respectivos sobre Local da consulta, paciente e Profissional que realizara a consulta</li>
                <li>Acesso por meio de login e senha do usuario</li>
            </ul>
            <p></p>
        </div>
    </form>
</body>

